{% macro render_dropdown_menue(index, keys_to_select, selected_values, index_choose) %}

{% if Flase %}
<!-- ACHTUNG DIESE DOKUMENT DARF NICHT AUTO-FORMATIERT WERDEN-->
<!-- Der Auto-Formatter zerstört die Flask-einbettung im CSS-->
<!-- zu enppfehlen ist die vs code extension "better jinja" dann kann unten 
    rechts jinja html als sprahe verwendet werden. formattierung get zwar trozdem nicht, 
    aber es werden keine errors mehr gemeldet-->
{% endif %}

<style>

    /* The search field when it gets focus/clicked on */
    #search{{index}}:focus {
        outline: 3px solid #ddd;
    }

    #search{{index}}{
        box-sizing: border-box;
        background-position: 14px 12px;
        background-repeat: no-repeat;
        font-size: 16px;
        padding: 14px 20px 12px 45px;
        border: none;
        border-bottom: 1px solid #ddd;
    }
    
    /* Links inside the dropdown */
    #dp_ad{{index}} {
        display: none; 
    }

</style>

{% if Flase %}
<!-- ACHTUNG DIESE DOKUMENT DARF NICHT AUTO-FORMATIERT WERDEN-->
<!-- Der Auto-Formatter zerstört die Flask-einbettung im CSS-->
{% endif %}

<div id="myDropdown{{index}}" class="dropdown-content">
        <!-- <input type="text" name="dp_id{{index}}"> -->
        <input type="text" 
            {% if index_choose == index %}
                    placeholder="Choose.."
            {% endif %}
            
            id="search{{index}}"
            class = "dp_input"
            onkeyup="filterFunction{{index}}()"
            onclick="toggleElement('dp_ad{{index}}')"
            autocomplete="off"
            >

        <div class="dropdown_a" id="dp_ad{{index}}">
            {% for key in keys_to_select[index] %}
            <a onclick="selectOption{{index}}('{{key}}')">{{key}}</a>
            {% endfor %}
        </div>
</div>
<p></p>
{% if Flase %}
<!-- ACHTUNG DIESE DOKUMENT DARF NICHT AUTO-FORMATIERT WERDEN-->
<!-- Der Auto-Formatter zerstört die Flask-einbettung im CSS-->
{% endif %}



<script>


    {% if selected_values[index] != "" %} 
    document.getElementById("search{{index}}").value = "{{selected_values[index]}}"
    {% endif %}  


    function toggleElement(elementId) {
        
        var targetElement = document.getElementById(elementId);
            // Toggle the visibility of the target element
            if (targetElement.style.display === 'none' || targetElement.style.display === '') {
                targetElement.style.display = 'block';
            } else {
                targetElement.style.display = 'none';
            }
    }

    function closeDropdown{{index}}() {
        document.getElementById("dp_ad{{index}}").style.display = "none";;
    }

    function selectOption{{index}}(option) {
        // Close the dropdown after selecting an option
        document.getElementById("search{{index}}").value = option

        closeDropdown{{index}}();
        
        submitForm('form_dp', {{index}})

    }
    
{% if Flase %}
<!-- ACHTUNG DIESE DOKUMENT DARF NICHT AUTO-FORMATIERT WERDEN-->
<!-- Der Auto-Formatter zerstört die Flask-einbettung im CSS-->
{% endif %}

    function display_drop{{index}}() {
        //Displays the Dropdown Menue
        document.getElementById("dp_ad{{index}}").style.display = "block";
    }
    
    function filterFunction{{index}}() {
        //Filters the User input in the input field, 
        //to show only options which correspond to the input
        var input, filter, ul, li, a, i;
        input = document.getElementById("search{{index}}");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown{{index}}");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }
</script>
{% endmacro %}