<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datenbank Verwalten</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='manage_db.css') }}">
</head>

<body>
    {% include "nav_template.html" %}

    <div id="search_keys">
        <form id="main_form" onSubmit="searchFormSubmit(event)">
            {% for key in kategories %}
            {% if key not in ['eingelagert', 'ausgelagert', 'wird_eingelagert', 'wird_ausgelagert',
            'anzahl_auslagerungen'] %}
            {% if key in ['id', 'Bauteilanzahl', 'Bauteilanzahl_min', 'Gewicht_pro_teil_in_g',] %}

            <div class="num_input">
                <p>{{key}}</p>
                <p>Von:</p>
                <input type="number" name="inp_min_{{key}}" oninput="validateMinMax(this)" class="inp_min"
                    value="{{min_max_dict[key][0]}}" min="{{min_max_dict[key][0]}}" max="{{min_max_dict[key][1]}}">
                <p>Bis:</p>
                <input type="number" name="inp_max_{{key}}" oninput="validateMinMax(this)" class="inp_max"
                    value="{{min_max_dict[key][1]}}" min="{{min_max_dict[key][0]}}" max="{{min_max_dict[key][1]}}">
            </div>

            {% else %}
            <div class="kategory_search_div">
                <p class="p_key">{{key}}</p>
                <input type="search" name="text_search_{{key}}">
                {# <input type="submit" value="Suchen.."> #}
            </div>
            {% endif %}

            {% else %}
            {% endif %}

            {% endfor %}
            <input type="submit" value="Search" name="submit" id="submitter">
        </form>
    </div>



    <div id="db_e_macro">

        {% include "manage_db_data_list_macro.html" %}

    </div>


</body>

<script>

    function validateMinMax(input) {

        const minInput = input.parentElement.querySelector('.inp_min');
        const maxInput = input.parentElement.querySelector('.inp_max');

        var max_val = parseInt(minInput.getAttribute("max"))
        var min_val = parseInt(maxInput.getAttribute("min"))

        console.log(max_val)
        console.log(min_val)

        if (input.classList.contains('inp_min')) {
            // If changing min input, update max input's min attribute
            maxInput.minInput = input.value;
        } else if (input.classList.contains('inp_max')) {
            // If changing max input, update min input's max attribute
            minInput.maxInput = input.value;
        }

        // Check if min is greater than max, adjust values if necessary
        if (parseInt(minInput.value) > parseInt(maxInput.value)) {
            if (input.classList.contains('inp_min')) {
                if (minInput.value < max_val) {
                    maxInput.value = minInput.value;
                }
            } else if (input.classList.contains('inp_max')) {
                if (maxInput.value > min_val) {
                    minInput.value = maxInput.value;
                }
            }
        }
    }

    data_to_display = JSON.parse(("{{data_to_display}}").replaceAll("&#39;", "\"").replaceAll("&#34;", "'"))

    function searchFormSubmit(event) {
        // Prevent the default form submission behavior
        event.preventDefault();
        console.log("asdasdasdadasda")
        // Access the input value for the specific form

        const form = document.getElementById("main_form");
        const submitter = document.getElementById("submitter");
        const data_form = new FormData(form, submitter);

        data = {}

        for (const [key, value] of data_form) {
            data[key] = value
        }

        console.log(data)

        
        var xhr = new XMLHttpRequest();
        xhr.open('post', '/manage_db', true);

        var formData = new FormData();
        // Add the selected data to the FormData object
        formData.append('search_db', JSON.stringify(data))
        


        xhr.onload = function () {
            if (xhr.status === 200) {
                // Handle the successful response here
                console.log('Form submitted successfully');
                ajax_rep = JSON.parse(xhr.response)['response']
                document.getElementById('db_e_macro').innerHTML = ajax_rep[0]
                data_to_display = ajax_rep[1]
            } else {
                // Handle errors or other statuses
                console.error('Form submission failed');
            }
        };

        // Send the FormData object with the request
        xhr.send(formData);

    }



    function sort_for_key(key) {
        console.log(key)
        var xhr = new XMLHttpRequest();
        xhr.open('post', '/manage_db', true);
        // Set up the callback function for when the request completes

        var formData = new FormData();
        // Add the selected data to the FormData object
        formData.append('sort_db_entrys', JSON.stringify({ "key": key, "current_data": data_to_display }));


        xhr.onload = function () {
            if (xhr.status === 200) {
                // Handle the successful response here
                console.log('Form submitted successfully');
                ajax_rep = JSON.parse(xhr.response)['response']
                document.getElementById('db_e_macro').innerHTML = ajax_rep[0]
                data_to_display = ajax_rep[1]
                //console.log(ajax_rep)
            } else {
                // Handle errors or other statuses
                console.error('Form submission failed');
            }
        };

        // Send the FormData object with the request
        xhr.send(formData);


    }

</script>

</html>