<nav>
    <ul>
        <li><p id="logo">AFSS</p></li>
        <li><a href="/">Home</a></li>
        <li><a href="/selection">Bestellungen</a></li>
        <li><a href="/manage_db">Datenbank Verwalten</a></li>
        <!-- Add more items as needed -->
    </ul>
</nav>
<style>

body{
    margin: 0;
    padding: 0;
    
    background-color: #302f2f;
    color: #f1f1f1;

}
    nav, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Navbar styling */
nav {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    
}

.logo {
    margin-right: auto; /* Pushes the logo to the left corner */
}

ul {
    display: flex;
}

li {
    margin: 0 10px;
    height: auto;
    display: flex;
    align-items: center;

}

a {
    color: #fff;
    transition: background-color 0.3s ease;
    font-weight: bold;
    font-family: Arial;

}

a:hover {
    background-color: #555;
}

#logo {
    font-family: ethnocentric;
}
</style>