<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='hw_control/afss_visu.css') }}">

    <title>AFSS-Visualisierung</title>
</head>
<body>
    {% import "hw_control/afss_visu_macros.html" as macros%}

    <div class="container">
        <div class="controls">
            {{macros.controls()}}
        </div>
        <div class="stack_terminal"></div>
        <div class="L0"></div>
        <div class="Band"></div>
        <div class="storage_flipper"></div>

        <div class="back">
            <a href="{{url_for('dashb.index')}}">←</a>
        </div>
        
    </div>

<script>


</script>
</body>
</html>