{% extends "base_template.html" %}

{% block title %}AFSS-Control{% endblock %}

{% block content %}

<div id="conf">
    <div>
    <label>IP Address</label>
    <input type="text" id="ipv4" name="ipv4" placeholder="https://xxx.xxx.xxx.xxx" value="{{ip}}"/>
    </div>

    <div>
    <label>Username</label>
    <input id="username" type="text"  value="{{username}}"/>
</div>
<div>
    <label>Password</label>
    <input type="text" id="password" value="{{password}}"/>
</div>
<button onclick="connect_to_client()">Connect</button>
</div>

<div id="connection_return_data"> </div>

{% endblock %}

{% block js %}
<script>

var con_established = false

function connect_to_client(){
    start_time = Date.now()

    ip = document.getElementById("ipv4").value

    creds = {
        "username": document.getElementById("username").value,
        "password": document.getElementById("password").value,
    }

    sendData({
        "connect_to_client": {"start_time": start_time, "ip": ip, "creds": creds}
    }, set_connection_return)


}

const intervalID = setInterval(keep_con_alive, 110000) //unter 2 minuten


function keep_con_alive(){
    if (con_established){
        sendData({"ping": ""}, function empty(){})
    }
}

function enable_testmode(){
    sendData({"enable_testmode": ""}, set_testwindow)
}

function set_testwindow(data){
    document.getElementById("set_testwindow").innerHTML = data

}

function set_connection_return(data){
    document.getElementById("connection_return_data").innerHTML = data
    
    if (document.getElementById("status_con").innerHTML == "200"){
        con_established = true
    }

}

function sendData(data, callback) {
    var xhr = new XMLHttpRequest();
    var url = "{{url_for('dashb.control_afss')}}";

    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-Type", "application/json");

    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
            callback(xhr.responseText)  // 2/2 statdessen braucht man eine callback funkltion und muss das so klobig machen
        }
    };

    var jsonData = JSON.stringify(data);
    xhr.send(jsonData);
}

</script>

{% endblock %}

