{% macro connection_return(status, ping, token) -%}
        {{status}}<br>
        
        
        {% if "200" in status %}
        <data id="status_con" style="visibility: hidden">200</data>
        Ping: {{ping}} ms <br>

        Token: {{token}}
        
        <div id="test_mode">
                <button onclick="enable_testmode()">Enable Testmode</button>
        </div>

        <div id="testwindow"></div>
        {% endif %}
        
        
{%- endmacro %}

{% macro testwindow() -%}
                testwindow
{%- endmacro %}