<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eintrag hinzufügen</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='new_entry.css') }}">
</head>
<body>
    {% include "nav_template.html "%}
    <div id="contens">
        <!-- TODO: cool Background images -->
        {% import "macros/storage_possibility.html" as stpos %}
        
        {{stpos.storage_possibillty("AFSS", "/new_entry/afss", "")}}
        {{stpos.storage_possibillty("Manuel", "/new_entry", "")}}
        {{stpos.storage_possibillty("Vereinzelung", "/new_entry", "")}}
        {{stpos.storage_possibillty("APOS", "/new_entry", "")}}


    </div>
</body>
</html>