{% extends "base_template.html" %}

{% block head %}
{% endblock %}

{% block title %}
Neue Area sheesh
{% endblock %}

{% block content %}

<div id="afss_area">

    <p>Load area from Tempalte File</p>
    <input type="file" id="fileInput" accept=".xml">
    <button onclick="generate_area_afss()">Generate</button>
    <div id="response_at">

    </div>
</div>

{% endblock %}

{% block js %}
<script>

    function generate_area_afss() {
        var fileInput = document.getElementById('fileInput');
        var file = fileInput.files[0];

        var formData = new FormData();
        formData.enctype = "multipart/form-data"
        formData.append('file', file);
        formData.append("gen_stuff",  " ")


        sendData_form(formData, set_response)

    }

    function add_area(){
        var fileInput = document.getElementById('fileInput');
        var file = fileInput.files[0];

        var formData = new FormData();
        formData.enctype = "multipart/form-data"
        formData.append('file', file);
        formData.append("add_all",  " ")
        

        sendData_form(formData, set_response)
    }

    function set_response(re){
        document.getElementById("response_at").innerHTML = re
    }


    function sendData(data, callback) {
        var xhr = new XMLHttpRequest();
        var url = "{{url_for('main.add_area')}}";

        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                callback(xhr.responseText)  // 2/2 statdessen braucht man eine callback funkltion und muss das so klobig machen
            }
        };

        var jsonData = JSON.stringify(data);
        xhr.send(jsonData);
    }

    function sendData_form(data, callback) {
        var xhr = new XMLHttpRequest();
        var url = "{{url_for('main.add_area')}}";

        xhr.open("POST", url, true);

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                callback(xhr.responseText)  // 2/2 statdessen braucht man eine callback funkltion und muss das so klobig machen
            }
        };

        //var jsonData = JSON.stringify(data);
        console.log(data)
        xhr.send(data);
    }


</script>

{% endblock %}