{% macro render_prim_groupes_table(prim_groupes) %}
<div id="gps_table">

    <table>
        <thead>
            <th></th>
            <th>Name</th>
            <th><button onclick="new_prim_group()" id="add_button">+</button></th>
        </thead>
        <tbody id="prim_groupes_table_body">
            {% for Groupe in prim_groupes %}
            <tr>
                <td><button onclick="open_sec('{{Groupe.title}}', this)" class="open_sec">&#9654;</button></td>
                <td ondblclick="to_input(this, 50, '{{ Groupe.title }}', 'title')">{{Groupe.title}}</td>
                <td><button onclick="delete_prim('{{Groupe.title}}')">del</button></td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    <button onClick="submit_changes()">Submit Changes</button>
    <div id="message">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
</div>
<script>

    var ParentTr = null

    var activeInput = null; // Variable to keep track of active input

    var activeInput = null
    var activeId = null
    var activeCategory = null

    var changes = []

    var active_primary_group = null

    var active_is_prim = null

    var active_title_sec = null
    var active_title_prim = null

    function open_sec(prim_title, elem) {
        active_primary_group = prim_title
        ParentTr = elem.closest('tr');
        console.log(ParentTr)
        btns = document.getElementsByClassName("open_sec")
        for (var i = 0; i < btns.length; i++) {
            btns[i].style.display = "none";
        }
        sendData({ 'secs_for_prim': prim_title }, show_sec)
    }

    function show_sec(secs) {
        //TODO! HERE
        console.log(secs)

        var tempElement = document.createElement('div');
        tempElement.innerHTML = secs;

        // Get the first child element of the temporary element, which is the desired table row
        var secondTableRow = tempElement.firstChild;
        console.log(secondTableRow)
        ParentTr.after(tempElement);
    }

    function new_prim_group() {
        var newRow = document.createElement('tr');
        newRow.innerHTML = `
        <td><input type="text" name="title"></td>
        <td><button onclick="saveNewGP(this)">Save</button></td>
    `;
        document.getElementById('prim_groupes_table_body').insertBefore(newRow, document.getElementById('prim_groupes_table_body').firstChild);

        document.getElementById("add_button").hidden = true;
    }

    function submit_changes() {
        sendData({ "changes": changes }, set_groupes)
    }

    function delete_prim(id) {
        console.log("del")
        sendData({ "delete_prim": id }, set_groupes)
    }

    function saveNewGP(button) {

        var newRow = button.parentNode.parentNode;

        var title = newRow.querySelector('input[name="title"]').value;

        sendData({ "new_prim_group": title }, set_groupes)

        newRow.parentNode.removeChild(newRow);
        document.getElementById("add_button").hidden = false;

    }

    function set_groupes(response) {
        document.getElementById('gps').innerHTML = response
    }

    function sendData(data, callback) {
        var xhr = new XMLHttpRequest();
        var url = "{{url_for('main.edit_groupes_db')}}";

        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                // Request was successful, handle response here if needed
                //console.log(xhr.responseText);
                callback(xhr.responseText)  // 2/2 statdessen braucht man eine callback funkltion und muss das so klobig machen


            }
        };

        var jsonData = JSON.stringify(data);
        xhr.send(jsonData);
    }

    function to_input(el, max_len, id, categorie) {
        // Check if there's an active input, close it if exists
        if (activeInput !== null) {
            close_input(activeInput);
        }
        console.log(el)

        var val = el.innerHTML.trim(); // Trim whitespace
        var inputHTML = "<input class=\"search_input\" type=\"text\" value=\"" + val + "\" maxlen=\"" + max_len + "\"/>";
        el.innerHTML = inputHTML;
        console.log(val)
        // Set the active input to this one
        activeInput = el;
        activeId = id
        activeCategory = categorie
        active_is_prim = true
        // Focus on the input field
        el.querySelector('input').focus();
    }

    // Function to close the input and restore the original content
    function close_input(el) {
        var inputValue = el.querySelector('input').value; // Get the input value
        el.innerHTML = inputValue; // Restore original content

        console.log(active_is_prim)
        if (active_is_prim) {
            new_ch = { [activeId]: { [activeCategory]: inputValue } } // [] um die variable ALS KEY VERWENDEN ZU KÖNNEN
        }
        else {
            new_ch = { ["secondary_change"]: { [active_title_prim]: active_title_sec, "to": inputValue } }
            console.log(new_ch)
        }
        changes.push(new_ch)
        console.log(changes)
        activeInput = null; // Reset active input
        activeId = null
        activeCategory = null
        active_is_prim = null
        active_title_prim = null
        active_title_sec = null
    }

    // Function to handle double click on table cell
    function onDoubleClickHandler(el) {
        if (el.tagName.toLowerCase() === 'td') {
            to_input(el);
        }
    }

    // Function to handle clicking outside input
    document.addEventListener('click', function (event) {
        if (activeInput !== null && !activeInput.contains(event.target)) {
            close_input(activeInput);
        }
    });

    // Function to handle pressing Enter key
    document.addEventListener('keydown', function (event) {
        if (event.key === 'Enter' && activeInput !== null) {
            close_input(activeInput);
        }
    });




    function to_input_sec(el, max_len, title, prim_title) {
        // Check if there's an active input, close it if exists
        if (activeInput !== null) {
            close_input(activeInput);
        }
        console.log(el)

        var val = el.innerHTML.trim(); // Trim whitespace
        var inputHTML = "<input class=\"search_input\" type=\"text\" value=\"" + val + "\" maxlen=\"" + max_len + "\"/>";
        el.innerHTML = inputHTML;
        console.log(val)
        // Set the active input to this one
        activeInput = el;
        active_title_sec = title
        active_title_prim = prim_title
        console.log(active_title_prim)
        active_is_prim = false
        // Focus on the input field
        el.querySelector('input').focus();
    }

    function delete_sec(sec, prim) {
        <!-- !TODO: -->
    }



    function new_sec_group(prim) {
        document.getElementById("add_button_sec").visible = false

        var newRow = document.createElement('tr');
        newRow.innerHTML = `
        <td><input type="text" name="title"></td>
        <td><button onclick="saveNewSC(this, '${prim}')">Save</button></td>
    `;
        document.getElementById('sec_groupes_table_body').insertBefore(newRow, document.getElementById('sec_groupes_table_body').firstChild);


    }

    function saveNewSC(btn, prim) {


        var newRow = btn.parentNode.parentNode;

        var title = newRow.querySelector('input[name="title"]').value;

        sendData({ "new_sec_group": {"primary_group": prim, "secondary_group": title} }, set_groupes)

        newRow.parentNode.removeChild(newRow);
        document.getElementById("add_button_sec").hidden = false;


    }

</script>




{% endmacro %}

{% macro secondars(secs, primary) %}


<tr colspan="3">

    <table>
        <thead>
            <th></th>
            <th>Name</th>
            <th><button onclick="new_sec_group('{{primary}}')" id="add_button_sec">+</button></th>
        </thead>
        <tbody id="sec_groupes_table_body">
            {% for Groupe in secs %}
            <tr>
                <td></td>
                <td ondblclick="to_input_sec(this, 50, '{{ Groupe.title }}', '{{ Groupe.prim_title }}')">
                    {{Groupe.title}}</td>
                <td><button onclick="delete_sec('{{Groupe.title}}', '{{ Groupe.prim_title }}')">del</button></td>
            </tr>
            {% endfor %}
        </tbody>
        <button onclick="close_sec()">close</button>
    </table>

</tr>

<script>



</script>

{% endmacro %}