<nav id="nav_top">
    <ul>
        <li>
            <p id="logo">AFSS</p>
        </li>
        <li><a href="/">Home</a></li>
        <li><a href="{{ url_for('afss_templates.storage_templates') }}">AFSS Templates</a></li>
        <li><a href="{{ url_for('main.new_article') }}">New Articles</a></li>
        <li><a href="{{ url_for('manage_db.index') }}">DB-management</a></li>
        <li><a href="{{ url_for('main.search_articles') }}">Search Articles</a></li>
        

        <li class="dropdown">
            <a href="#" class="dropbtn">Add stuff</a>
            <div class="dropdown-content">
                <a href="{{ url_for('main.add_stock') }}">Stock</a>
                <a href="{{ url_for('main.add_area') }}">Area</a>
                <a href="{{ url_for('main.add_container') }}">Container</a>
            
                <!-- <a href="#">Link 3</a> -->
            </div>
        </li>

        <li id="wiki" title="Wiki"><a href="{{ url_for('wiki.wiki_index') }}">&#9432;</a></li>

        {#{% if not session['access'] %}
        <li id="login"><a href="{{ url_for('main.login') }}">Login</a></li>
        {% else %}
        <li id="login"><a href="{{ url_for('main.logout') }}">Logout</a></li>
        {% endif %} #}


        <!-- Add more items as needed -->
        {# <li><a href="{{ url_for('') }}"></a></li> #}

    </ul>
</nav>
<script>

</script>
<style>
    body {
        margin: 0;
        padding: 0;

        background-color: #302f2f;
        color: #f1f1f1;

    }

    #nav_top,
    ul,
    li,
    a {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
    }

    /* Navbar styling */
    #nav_top {
        background-color: #333;
        color: #fff;
        display: flex;
        align-items: center;
        width: 100%;
    }

    .logo {
        margin-right: auto;
        /* Pushes the logo to the left corner */
    }

    #nav_top ul {
        display: flex;
        width: 100%;
        padding: 0 5vw;
    }

    #nav_top li {
        margin: 0 10px;
        height: auto;
        display: flex;
        align-items: center;
        padding: 0 10px;

    }

    #nav_top a {
        color: #fff;
        transition: background-color 0.3s ease;
        font-weight: bold;
        font-family: Arial;

    }

    #nav_top li:hover {
        background: rgb(139, 139, 139);
        background: linear-gradient(0deg, rgba(100, 100, 100, 0.9) 0%, rgba(75, 75, 75, 0.671) 75%);
        border-radius: 10px;
    }

    #nav_top #logo {
        font-family: ethnocentric;
    }

    #nav_top #login {
        margin-left: auto;

    }

    #nav_top #wiki {
        margin-left: auto;

    }

    /* Dropdown styling */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #494949;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        top: 100%; /* Adjusts the position of the dropdown menu */
        left: 0;
        border-radius: 3px;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #6b6b6b;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

</style>