body {
    background-color: rgb(0, 0, 0);
    color: rgb(226, 226, 226);
}
a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
}

#back {
    position: absolute;
    
}