{% extends "base_template.html" %}
{% import "macros_for_search_articles.html" as macros_s_a %}

{% block title %}Add Stock{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='add_stock.css')}}">


{% endblock head %}

{% block content %}

<div id="add_stock_form">
    <p>ID</p>
    <input id="input_id_stock" placeholder="Enter ID or..">
    <button onclick="search_for_article()">Search for Article</button>
    <div id="search_filed">
    </div>
    <p>Container</p>
    <p>Existing Container</p>
    <input type="number" id="input_number_container" placeholder="02935760134">
    <button onclick="read_id_from_sps()">Von Wareineingabe Lesen</button>
    <p id="reading_status"></p>
    <p>New Container</p>
    <button><a href="{{ url_for('main.add_container') }}">Add new Container</a></button>
    <p>Quantity</p>
    <input type="number" id="input_quantity" value="1">
    <button onclick="generate_stock()">Generate</button>
</div>
<div id="generated">
</div>
</div>

<div id="articles_search_area" style="display: none">
    <button onclick="hide_articles()">Zurück</button>
    {{ macros_s_a.search_field()}}

    <div id="articles_listed">

    </div>

</div>


{% endblock content %}

{% block js %}

<script>

var barcode = null
var quant = null
var article = null

function generate_stock(){
    article = document.getElementById("input_id_stock").value
    barcode = document.getElementById("input_number_container").value
    quant = document.getElementById("input_quantity").value

    sendData({"gen_stock": {"barcode": barcode, "quantity": quant, "article": article}}, set_gen_stock)
}

function set_gen_stock(req){
    document.getElementById("generated").innerHTML = req
}

function read_id_from_sps(){
    sendData({"get_container_code": ""}, set_number_container)
}

function add_to_db(){
    sendData({"add_stock": {"barcode": barcode, "quantity": quant, "article": article}}, set_gen_stock)

}

function set_number_container(data){
    data = JSON.parse(data)
    console.log(data)
    document.getElementById("input_number_container").value = data['code']
    document.getElementById("reading_status").innerHTML = data['status_message']

}

    function hide_articles() {
        document.getElementById("articles_search_area").style.display = "none"
    }

    function search_for_article() {
        document.getElementById("articles_search_area").style.display = "block"
    }

    function func_for_button_press(id) {
        document.getElementById("input_id_stock").value = id

    }

    function sendData(data, callback) {
        var xhr = new XMLHttpRequest();
        var url = "{{url_for('main.add_stock')}}";

        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                // Request was successful, handle response here if needed
                //console.log(xhr.responseText);
                callback(xhr.responseText)  // 2/2 statdessen braucht man eine callback funkltion und muss das so klobig machen


            }
        };

        var jsonData = JSON.stringify(data);
        xhr.send(jsonData);
    }



</script>

{{ macros_s_a.search_js()}}

{% endblock js %}