<!DOCTYPE html>
<html>
<head lang = "en">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>

<body>
{% include "nav_template.html" %}
    <div id="content">{% block content %}{% endblock %}</div>
    {# <div id="footer">
        {% block footer %}
        &copy; Copyright 2024 by Benedikt Simbürger</a>.
        {% endblock %}
    </div> #}
    {% block js %}

{% endblock %}
</body>


    

</html>