<table>
    Cart
    <thead>
        <tr draggable="false">
            <th>ID</th>
            <th>Sort</th>
            <th>Artikelnummer</th>
            <th>Container</th>
            <th>Menge</th>
            <th><button onClick="reset_cart()">Reset Cart</button></th>
        </tr>
    </thead>
    <tbody>
        {% for element in data %}
        <tr draggable='true' ondragstart='start(event)' ondragover='dragover(event)'
            ondrop="drop_el(event, id={{element['id']}})">

            <td>{{ element["id"] }}</td>
            <td>{{ element["id_sort"] }}</td>
            <td>{{ element["stock"] }}</td>
            <td>{{ element["container"] }}</td>
            <td><input class="quant_inp" onChange="change_quant({{element['id']}}, this.value)" type="number" min="1"
                    value="{{ element['quantity'] }}"></td>
            <td><button class="delete_btn" onClick="delete_item({{element['id']}})"><b>&#128465;</b></button></td>
        </tr>
        {% endfor %}
    </tbody>


</table>