{% extends "base_template.html" %}

{% block title %}Article{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='new_article.css') }}">

{% endblock %}

{% block content %}
{% import "macros_for_new_articles.html" as macros %}
<div id="new_stock">
    <div id="ac_form">
        <h2>Artikel Name</h2>
        <input name="at_name" id="at_name" type="text" placeholder="M5x20" />

        <h2>Artikel Beschreibung</h2>
        <input name="at_description" id="at_description" type="textarea" placeholder="M5 mal 20, Halbrundkopf, Hex"/>


        <h2>Artikel Gewicht in gramm</h2>
        <input name="at_weight" id="at_weight" type="number" placeholder="23"/>


        <h2>Artikel Foto</h2>
        <input type="file" id="at_picture" name="picture" accept=".png, .jpg, .jpeg, .webp" maxlength="30" />

        <h2>Gruppen</h2>
        <div id="groupes">
            {{ macros.render_primary_groupes(groupes)}}
        </div>

        <h2>Attribute Hinzufügen</h2>

        <div id="categorie">
            <select name="attribute_select" id="attribute_select" onchange="select_cat(this)">
                <option></option>
                {% for cat in categories %}
                <option value="{{cat.title}}">{{cat.title}}</option>
                {% endfor %}
            </select>

            <div id="further_cat">

            </div>
            <div id="applied_cats">
            </div>
        </div>

        <input onclick="save_article()" type="submit" value="Neuen Artikel Generieren">

    </div>
    <div id="message">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
</div>

<div id="check_article">

</div>

<div id="status_code"></div>

<div id="db_area">

</div>


{% endblock %}



{% block js %}



<script>

    var formData = null


    var primary_group = null
    var secondary_groupe = null

    var article = null

    function save_article() {
        at_name = document.getElementById("at_name").value
        at_description = document.getElementById("at_description").value
        at_weight = document.getElementById("at_weight").value
        at_img = document.getElementById("at_picture").files[0];
        at_img_filename = at_img.name
        at_prim_gp = primary_group
        at_sec_gp = secondary_groupe
        at_cats = document.getElementById("cats_hidden").innerHTML //im macro definiert



        article = { "name": at_name, "description": at_description, "weight": at_weight, "img": at_img_filename, "prim_groupe": at_prim_gp, "sec_groupe": at_sec_gp, "categories": at_cats }

        formData = new FormData();
        formData.append('image', at_img);
        formData.append('new_article', JSON.stringify(article));


        console.log(article)

        htl = `<p> ${at_name} </p>
        <p>${at_description}</p>
        <p>${at_weight}</p>
        <p> ${at_prim_gp}</p>
        <p>${at_sec_gp}</p>
        <img id="check_img"/>
        <button onclick="add_article_to_db()">Artikel Hinzufügen</button>`

        console.log(htl)
        set_check_article(htl)

        var displayImg = document.getElementById("check_img");

        if (at_img) {
            // Create a FileReader object
            var reader = new FileReader();

            // Set onload event handler
            reader.onload = function (event) {
                // Set the src attribute of the img element to the loaded data
                displayImg.src = event.target.result;
            };

            // Read the image as a data URL
            reader.readAsDataURL(at_img);
        } else {
            // Handle case where no file is selected
            alert("Please select an image file.");
        }

    }

    function add_article_to_db() {

        var xhr = new XMLHttpRequest();
        xhr.open('POST', "{{url_for('main.add_article')}}", true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                set_status_msg(xhr.responseText);
            }
        };
        xhr.send(formData);
        console.log(formData)

    }

    function set_status_msg(req) {
        document.getElementById("status_code").innerHTML = req
    }

    function set_check_article(req) {
        document.getElementById("check_article").innerHTML = req
    }



    function add_category(unit) {
        value_cat = document.getElementById("value_cat").value
        prefix_cat = document.getElementById("prefix_cat").value
        unit_cat = unit
        cat = document.getElementById("attribute_select").value

        req = {
            "cat": cat,
            "value": value_cat,
            "prefix": prefix_cat,
            "unit": unit
        }

        sendData({ "new_cat": req }, set_applied_cats)

        document.getElementById("value_cat").value = ""
        document.getElementById("prefix_cat").value = ""
        document.getElementById("attribute_select").value = ""

    }


    function delete_cat(elem) {
        console.log("del")
        sendData({ "del_cat": elem }, set_applied_cats)
    }

    function set_applied_cats(req) {
        document.getElementById("applied_cats").innerHTML = req
    }

    function select_cat(elem) {
        //elem.body.style.backgroundColor = "green";
        sendData({ "select_category": elem.value }, set_further_cat)

    }

    function set_further_cat(resp) {
        document.getElementById("further_cat").innerHTML = resp
    }



    function select_primary_groupe(title) {
        sendData({ "get_secs": title }, set_gps)
        primary_group = title
        
    }

    function select_secondary_groupes(title, elem) {
        secondary_groupe = title
        elem.style.backgroundColor = "grey";
    }

    function set_gps(response) {
        document.getElementById('groupes').innerHTML = response
    }

    function deselect() {
        // TODO:
    }

    function sendData(data, callback) {
        var xhr = new XMLHttpRequest();
        var url = "{{url_for('main.new_article')}}";

        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                // Request was successful, handle response here if needed
                //console.log(xhr.responseText);
                callback(xhr.responseText)  // 2/2 statdessen braucht man eine callback funkltion und muss das so klobig machen


            }
        };

        var jsonData = JSON.stringify(data);
        xhr.send(jsonData);
    }



</script>

{% endblock js %}