{% extends "base_template.html" %}+
{% block title %}
Order Article
{% endblock %}

{% block content %}

<div id="article_desciption">

    <p>{{ article.article_name }}</p>
    <p>{{ article.article_description }}</p>

</div>

<div id="stocks">

    {% if stocks != "" %}
    {% for stock in stocks %}
    <div class="selectable" id="{{stock.id}}">
        <p>In container {{ stock.container }} Quantity: {{ stock.quantity }} 
            {% if stock.reserved_quantity != 0 %}
                    (Reserved: {{stock.reserved_quantity}})
            {% endif %}
            
        </p>
    </div>
    {% endfor %}
    {% else %}
    <p>No Container filled with this article found</p>
    {% endif %}


</div>
{% if stocks != "" %}
<input type="number" id="order_quant">
<button onclick="order()">Order</button>
<button onclick="add_to_cart()">Zu Einkaufswagen hinzufügen</button>

<div id="status">

</div>

{% endif %}

<div id="order">

</div>

<style>
    .selectable {
        cursor: pointer;
    }

    .selected {
        background-color: rgb(139, 139, 139);
    }
</style>

{% endblock %}

{% block js %}
<script>

    var selectedId = null;

    function add_to_cart(){
        qt = document.getElementById("order_quant").value
        if (selectedId == null) {
            document.getElementById("status").innerHTML = "select Stock"
        }
        else {
            sendData({ "add_to_cart": { "stock": selectedId, "quantity": qt } }, set_status)
        }
    }


    function order() {
        qt = document.getElementById("order_quant").value
        if (selectedId == null) {
            document.getElementById("status").innerHTML = "select Stock"
        }
        else {
            sendData({ "order": { "stock": selectedId, "quantity": qt } }, set_status)
        }
    }

    function set_status(msg) {
        document.getElementById("status").innerHTML = msg
    }

    function sendData(data, callback) {
        var xhr = new XMLHttpRequest();
        var url = "{{url_for('main.order_api')}}";

        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                // Request was successful, handle response here if needed
                //console.log(xhr.responseText);
                callback(xhr.responseText)  // 2/2 statdessen braucht man eine callback funkltion und muss das so klobig machen


            }
        };

        var jsonData = JSON.stringify(data);
        xhr.send(jsonData);
    }

    document.addEventListener('DOMContentLoaded', function () {
        // Get all elements with the 'selectable' class
        const elements = document.querySelectorAll('.selectable');


        // Add click event listener to each element
        elements.forEach(function (element) {
            element.addEventListener('click', function () {
                // Remove 'selected' class from all elements
                elements.forEach(function (el) {
                    el.classList.remove('selected');
                });

                // Add 'selected' class to the clicked element
                this.classList.add('selected');

                // Store the ID of the selected element
                selectedId = this.id;

                // You can now use selectedId to access the ID of the currently selected element
                console.log("Selected ID:", selectedId);
            });
        });
    });

</script>
{% endblock %}