{% extends "base_template.html" %}
{% import "macros_for_search_articles.html" as macros %}


{% block title %}Artikelsuche{% endblock %}
{% block head %}

<link rel="stylesheet" href="{{url_for('static', filename='search_articles.css')}}">


{% endblock %}

{% block content %}



{{ macros.search_field()}}

<div id="articles_listed">

</div>

{% endblock %}

{% block js %}


    {{macros.search_js()}}
<script>
    function func_for_button_press(id){
        window.location.replace("{{url_for('main.order_article', id = '')}}" + id);
    }
</script>

{% endblock js %}