{% macro render_containers(containers) -%}
    
<div id="container_table">

<table>
    <thead>
        <td></td>
        <th>Stocks</th>
        <th>Barcode</th>
        <th>current_location</th>
        <th>Target target_location</th>
        <th>Size</th>

        <th><button onclick="new_cont()" id="add_button">+</button></th>
    </thead>
    <tbody id="container_table_body">
    {% for cont in containers %}
    <tr>
        <td>{{cont.id}}</td>
        <td ondblclick="to_input(this, 100, '{{ cont.stocks }}', 'stocks')">{{cont.stocks}}</td>
        <td ondblclick="to_input(this, 32, '{{ cont.barcode }}', 'barcode')">{{cont.barcode}}</td>
        <td ondblclick="to_input(this, 100, '{{ cont.current_location }}', 'current_location')" >{{cont.current_location}}</td>
        <td ondblclick="to_input(this, 100, '{{ cont.target_location }}', 'target_location')" >{{cont.target_location}}</td>
        <td ondblclick="to_input(this, 10, '{{ cont.size }}', 'size')" >{{cont.size}}</td>
        
        <td><button onclick="delete_cont('{{cont.id}}')">del</button></td>
    </tr>
    {% endfor %}
    </tbody>
    
</table>
<button onClick="submit_changes()">Submit Changes</button>
<div id="message">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
</div>

{%- endmacro %}

{% macro js() -%}

<script>

    var activeInput = null; // Variable to keep track of active input

    var activeInput = null
    var activeId = null
    var activeCategory = null

    var changes = []

    function new_cont() {
        var newRow = document.createElement('tr');
        newRow.innerHTML = `
        <td></td>
        <td><input type="text" name="stocks"></td>
        <td><input type="text" name="barcode"></td>
        <td><input type="text" name="current_location"></td>
        <td></td>
        <td><input type="text" name="size"></td>
        <td><button onclick="saveNewContainer(this)">Save</button></td>
    `;
        document.getElementById('container_table_body').insertBefore(newRow, document.getElementById('container_table_body').firstChild);
    
        document.getElementById("add_button").hidden = true;
    }

    function submit_changes() {
        sendData({ "changes": changes }, set_conts)
    }

    function delete_cont(id){
        console.log("del")
        sendData({"delete": id}, set_cats)
    }

    function saveNewContainer(button) {

        var newRow = button.parentNode.parentNode;

        var stocks = newRow.querySelector('input[name="stocks"]').value;
        var barcode = newRow.querySelector('input[name="barcode"]').value;
        var current_location = newRow.querySelector('input[name="current_location"]').value;
        //var target_location = newRow.querySelector('input[name="target_location"]').value;
        var size = newRow.querySelector('input[name="size"]').value;

    sendData({"new_cont": {"stocks": stocks, "barcode": barcode, "current_location": current_location, "size": size}}, set_conts)

        newRow.parentNode.removeChild(newRow);
        document.getElementById("add_button").hidden = false;

    }

    function set_conts(response) {
        document.getElementById('mc_containers').innerHTML = response
    }

    function sendData(data, callback) {
        var xhr = new XMLHttpRequest();
        var url = "{{url_for('manage_db.edit_containers_db')}}";

        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                // Request was successful, handle response here if needed
                //console.log(xhr.responseText);
                callback(xhr.responseText)  // 2/2 statdessen braucht man eine callback funkltion und muss das so klobig machen


            }
        };

        var jsonData = JSON.stringify(data);
        xhr.send(jsonData);
    }

    function to_input(el, max_len, id, categorie) {
        // Check if there's an active input, close it if exists
        if (activeInput !== null) {
            close_input(activeInput);
        }
        console.log(el)

        var val = el.innerHTML.trim(); // Trim whitespace
        var inputHTML = "<input class=\"search_input\" type=\"text\" value=\"" + val + "\" maxlen=\"" + max_len + "\"/>";
        el.innerHTML = inputHTML;
        console.log(val)
        // Set the active input to this one
        activeInput = el;
        activeId = id
        activeCategory = categorie
        // Focus on the input field
        el.querySelector('input').focus();
    }

    // Function to close the input and restore the original content
    function close_input(el) {
        var inputValue = el.querySelector('input').value; // Get the input value
        el.innerHTML = inputValue; // Restore original content

        //console.log(activeCategory)
        new_ch = { [activeId]: { [activeCategory]: inputValue } } // [] um die variable ALS KEY VERWENDEN ZU KÖNNEN

        changes.push(new_ch)
        activeInput = null; // Reset active input
        activeId = null
        activeCategory = null
    }

    // Function to handle double click on table cell
    function onDoubleClickHandler(el) {
        if (el.tagName.toLowerCase() === 'td') {
            to_input(el);
        }
    }

    // Function to handle clicking outside input
    document.addEventListener('click', function (event) {
        if (activeInput !== null && !activeInput.contains(event.target)) {
            close_input(activeInput);
        }
    });

    // Function to handle pressing Enter key
    document.addEventListener('keydown', function (event) {
        if (event.key === 'Enter' && activeInput !== null) {
            close_input(activeInput);
        }
    });

</script>


{%- endmacro %}