<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Einkaufswagen</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cart.css') }}">
    <style>

    </style>
</head>

<body>
    <!-- Include your navigation template if needed -->
    {% include "nav_template.html" %}
    <div id="cart">
        {% include "cart_table.html" %}
    </div>
    {% if data %}
        <form method="POST">
        <p>Maximale Auslagerung Gleichzeitig: </p>{{ OrderSubmitFiled.num_box_max() }}
        {{ OrderSubmitFiled.submit_button() }}
    </form>
    {% else %}
        <p>Ihr Einkaufswagen ist Leer</p>
    {% endif %}
    
    



    <script>
        var draggedRow;

        last_op = [0, 0]
        i = 0
        function start(event) {
            // Set the dragged row when drag starts
            draggedRow = event.target.parentNode;
        }

        function arrayEquals(a, b) {
            return Array.isArray(a) &&
                Array.isArray(b) &&
                a.length === b.length &&
                a.every((val, index) => val === b[index]);
        }

        var row;
        function start() {
            row = event.target;
        }


        function dragover() {
            var e = event;
            e.preventDefault();


            let children = Array.from(e.target.parentNode.parentNode.children);

            ac_index = parseInt(children.indexOf(e.target.parentNode))
            new_index = parseInt(children.indexOf(row))

            new_op = [ac_index, new_index]
            if (!arrayEquals(new_op, last_op)) {
                //console.log("Inside if:", new_op, last_op);
                try {
                    if (ac_index > new_index) {
                        e.target.parentNode.after(row);
                    }
                    else {
                        e.target.parentNode.before(row);
                    }
                }
                catch (error) {
                    //console.log(error)
                }
            }
            last_op = new_op
        }

        function send_xhr(header, content, callback) {
            var xhr = new XMLHttpRequest();
            xhr.open('post', '{{ url_for("main.cart")}}', true);

            var formData = new FormData();
            formData.append(header, content);

            xhr.onload = function () {
                if (xhr.status === 200) {
                    console.log('Form submitted successfully');
                    // Call the callback function with the response
                    callback(xhr.response);
                } else {
                    console.error('Form submission failed');
                    // Call the callback function with an error flag
                    callback(null, 'Form submission failed');
                }
            };

            xhr.onerror = function () {
                console.error('Request failed');
                // Call the callback function with an error flag
                callback(null, 'Request failed');
            };

            xhr.send(formData);
        }


        function drop_el(event, id) {
            var el = event.currentTarget;
            while (el && el.nodeName !== "TR") {
                el = el.parentNode;
            }
            console.log(el && el.rowIndex + " " + id);

            send_xhr('change_cart', JSON.stringify({ "id": id, "new_index": el && el.rowIndex })
                , function (response, error) {
                    if (response !== null) {
                        // Use the response variable here
                        document.getElementById("cart").innerHTML = response
                    } else {
                        // Handle the error
                        console.error('Error:', error);
                    }
                });

        }

        function reset_cart() {
            send_xhr('reset_cart', JSON.stringify({})
                , function (response, error) {
                    if (response !== null) { document.getElementById("cart").innerHTML = response // probably no reload necassary
                    } else { console.error('Error:', error); };
                })

        }
        function change_quant(id, val) {
            console.log(id)
            console.log(val)
            send_xhr('change_quant', JSON.stringify({ "id": id, "new_quant": val })
                , function (response, error) {
                    if (response !== null) {
                        //console.log(response)
                        // inner html does not need to be reloaded, save processing time
                    } else { console.error('Error:', error); };
                })
        }

        function delete_item(id){
            send_xhr('delete_item', JSON.stringify({ "id": id})
                , function (response, error) {
                    if (response !== null) {
                        document.getElementById("cart").innerHTML = response
                    } else { console.error('Error:', error); };
                })
        }

    </script>
</body>

</html>