<div id="myDropdown" class="dropdown-content">
    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()" onclick="display_drop()">
    <div class="dropdown_a" id="dp_ad">
        <a onclick="selectOption('About')">About</a>
        <a onclick="selectOption('Base')">Base</a>
        <!-- Add similar onclick attributes for other options -->
    </div>
    <p>lpindex</p>
</div>

<script>
document.addEventListener("click", function (event) {
    var dropdownContainer = document.getElementById("dropdownContainer");
    if (!dropdownContainer.contains(event.target)) {
        // Clicked outside the dropdown, close it
        closeDropdown();
    }
});

function toggleDropdown() {
    document.getElementById("myDropdown").classList.toggle("show");
}

function closeDropdown() {
    document.getElementById("dp_ad").classList.remove("show");
}

function selectOption(option) {
    // Perform actions when an option is selected
    console.log("Selected option: " + option);
    // Close the dropdown after selecting an option
    document.getElementById("myInput").value = option
    closeDropdown();

}

function display_drop() {
    document.getElementById("dp_ad").classList.toggle("show");
}

function filterFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
        txtValue = a[i].textContent || a[i].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            a[i].style.display = "";
        } else {
            a[i].style.display = "none";
        }
    }
}
</script>