<nav>
    <ul>
        <li><p id="logo">AFSS</p></li>
        <li><a href="/">Home</a></li>
        <li><a href="{{ url_for('main.selection') }}">Bestellungen</a></li>
        <li><a href="{{ url_for('main.manage_db') }}">Datenbank Verwalten</a></li>
        <li><a href="{{ url_for('main.new_entry') }}">Bauteil hinzufügen</a></li>
        <li><a href="{{ url_for('main.cart') }}">Einkaufswagen</a></li>
        {% if not session['access'] %}
        <li id="login"><a href="{{ url_for('main.login') }}">Login</a></li>
        {% else %}
            <li id="login"><a href="{{ url_for('main.logout') }}">Logout</a></li>
        {% endif %}
        
        
        <!-- Add more items as needed -->
        {# <li><a href="{{ url_for('') }}"></a></li> #}
    </ul>
</nav>
<script>

</script>
<style>

body{
    margin: 0;
    padding: 0;
    
    background-color: #302f2f;
    color: #f1f1f1;

}
    nav, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Navbar styling */
nav {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    margin-right: auto; /* Pushes the logo to the left corner */
}

ul {
    display: flex;
    width: 100%;
    padding: 0 5vw;
}

li {
    margin: 0 10px;
    height: auto;
    display: flex;
    align-items: center;

}

a {
    color: #fff;
    transition: background-color 0.3s ease;
    font-weight: bold;
    font-family: Arial;

}

a:hover {
    background-color: #555;
}

#logo {
    font-family: ethnocentric;
}

#login{
    margin-left: auto;
    
}

</style>
