.db_entry_div{
    display: flex;

}

.db_entry_div p {
    margin: 10px
}


.popup {

}

.popup-content {
    background: #929292;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}