.dbs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px auto;
    max-width: 1000px; /* Adjust as needed */
    align-content: stretch;
}

.single_db {
    min-width: 300px; 
    height: 200px; 
    background-color: #5f5f5f; 
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.single_db:hover {
    box-shadow: 10px 10px 10px -4px rgb(191, 191, 191);
}

.single_db p {
    font-size: 18px;
    text-align: center;
}

